<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Welcome to Our Platform</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333333; padding: 20px;">

    <h2><strong>We're so glad you're here, {{ name }} !</strong> </h2>
    <p>Thank you for joining <strong> GolfNVibes Newsletter  </strong>We are so glad you are here.
    You Have Joined a community of Golf enthusiast, ready to learn, connect and have memories</p>
    <br>
    <p>Whether you are trying to break 90, hunting for the freshest course style, or just here for the pure love of the game, you are in the right place. We bring you the perfect blend of golf culture, practical tips, and laid-back vibes.
Here is what you can expect in your inbox every Thursday:
<ul>
    <li><strong>Warm-Up: </strong> Quick, actionable swing and mental tips to shave strokes off your game.
Fresh Gear & Style: Honest reviews on the latest clubs, apparel, and golf tech.</li>
<li><strong>Clubhouse:</strong>  Curated golf stories, viral moments, and course recommendations you need to see.
While we prep our next edition, check out our community's favorite resource:
[Link to Top Article, e.g., 5 Simple Drills to Fix Your Slice This Weekend]</li>
</ul>
    </p>

<p style="font-style: italic;">⚠️ One quick thing: To make sure our emails don't get lost in your spam folder, please drag this email to your "Primary" tab or add us to your contact list.</p>
<p>Before you head out, reply to this email and let us know: What is the weakest part of your golf game right now? We read every single response.
Glad to have you along for the ride</p>

<p> Follow our socials for more:<i class="fa-brands fa-instagram"></i> </p>

    <p>Best regards,</p>
    <p>The GolfNVibes Team</p>
    <p>Play.Travel.Connect</p>
</body>
<footer>
    <p>Visit our official website and get lastest updates <a href="https://golfnvibes.com">GolfNVibes</a></p>
    <p>if you believe this is a mistake or want to stop recieving emails from GolfnVibes: <a href="https://golfnvibes.com/newsletter/unsubscribe">unsubscribe</a></a></p>
</footer>
</html>
